#set($subject = "$esc.html($device.name): холболт тасарлаа")
#set($digest = "$device.name холболт тасарлаа ($dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone))")
<!DOCTYPE html>
<html>
<body>
Төхөөрөмж: $esc.html($device.name)<br>
Холболт тасарсан<br>
Цаг: $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Мэдэгдэл цуцлах</a>
</body>
</html>
