#set($subject = "Нууц үг сэргээх")
#set($digest = "Нууц үг сэргээх холбоос: $webUrl/reset-password?passwordReset=$token")
<!DOCTYPE html>
<html>
<body>
Нууц үгээ сэргээхийн тулд дараах холбоос дээр дарна уу:<br>
<a href="$webUrl/reset-password?passwordReset=$token">$webUrl/reset-password?passwordReset=$token</a><br>
</body>
</html>
