#set($subject = "$esc.html($device.name): ойролцооноос гарлаа")
#set($digest = "$device.name холбогдсон төхөөрөмжийн ойролцооноос гарлаа ($dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone))")
<!DOCTYPE html>
<html>
<body>
Төхөөрөмж: $esc.html($device.name)<br>
Холбогдсон төхөөрөмжийн ойролцооноос гарлаа<br>
Цаг: $dateTool.format('yyyy-MM-dd HH:mm:ss', $event.eventTime, $locale, $timezone)<br>
Байршил: <a href="$webUrl/event/$event.id">#{if}($position.address)$esc.html($position.address)#{else}$position.latitude&deg;, $position.longitude&deg;#{end}</a><br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Мэдэгдэл цуцлах</a>
</body>
</html>
